// SVG fill colours
.fill-black   { fill: $black }
.fill-gray    { fill: $gray }
.fill-silver  { fill: $silver }
.fill-white   { fill: $white }
.fill-aqua    { fill: $aqua }
.fill-blue    { fill: $blue }
.fill-navy    { fill: $navy }
.fill-teal    { fill: $teal }
.fill-green   { fill: $green }
.fill-olive   { fill: $olive }
.fill-lime    { fill: $lime }
.fill-yellow  { fill: $yellow }
.fill-orange  { fill: $orange }
.fill-red     { fill: $red }
.fill-fuchsia { fill: $fuchsia }
.fill-purple  { fill: $purple }
.fill-maroon  { fill: $maroon }

// Fallback background colors, for dynamic changing backgrounds
.no-js {
  .bg-fallback-black   { background-color: $black }
  .bg-fallback-gray    { background-color: $gray }
  .bg-fallback-silver  { background-color: $silver }
  .bg-fallback-white   { background-color: $white }
  .bg-fallback-aqua    { background-color: $aqua }
  .bg-fallback-blue    { background-color: $blue }
  .bg-fallback-navy    { background-color: $navy }
  .bg-fallback-teal    { background-color: $teal }
  .bg-fallback-green   { background-color: $green }
  .bg-fallback-olive   { background-color: $olive }
  .bg-fallback-lime    { background-color: $lime }
  .bg-fallback-yellow  { background-color: $yellow }
  .bg-fallback-orange  { background-color: $orange }
  .bg-fallback-red     { background-color: $red }
  .bg-fallback-fuchsia { background-color: $fuchsia }
  .bg-fallback-purple  { background-color: $purple }
  .bg-fallback-maroon  { background-color: $maroon }
}

// Gradients
.bg-gradient-transparent-white-transparent {
  background-image: linear-gradient(to bottom, rgba($white, 0) 0%, rgba($white, 0.50) 55%, rgba($white, 0.50) 65%, rgba($white, 0) 100%);
}

// Border
.border-muted {
  border-color: rgba(0, 0, 0, 0.5);
}

.border-muted-dark {
  border-color: rgba(0, 0, 0, 0.75);
}

.border-muted-light {
  border-color: rgba(0, 0, 0, 0.25);
}

// Red small
//
// Optically correct red used at a smaller size, also increases
// the contrast to pass accessibility guidelines. This is used in the
// main header.
//
// Markup:
// <header class="red-small">
//   <p>Secondary</p>
//   <h1 class="h1">Main heading</h1>
// </header>
//
// Styleguide: color.red-small
.red-small {
  color: #E62525;
}
