// Specific specimen classes
//
// Used for the specimens in the case where we really are designing something one-off that doesn’t need to be a utility class. This might otherwise be solved by inline styles or CSS modules, but this is not part of this project right now.
//
// Markup:
// <h2 className="h0-hannari">
//   <div>あかるく、</div>
//   <div>やさしく、</div>
//   <div>ふんわり。</div>
// </h2>
//
// Styleguide: module.specimen
.h0-hannari {
  font-size: 20vw;
  min-height: 100vw;
  @media #{ $breakpoint-md } {
    font-size: 12.5vw;
  }
  @media #{ $breakpoint-lg } {
    font-size: $h1 * 6;
    min-height: 900px;
  }
}

// Styles specific to the Kokoro section
.h0-kokoro {
  font-size: $h1;
  line-height: 1.25;
  @media #{ $breakpoint-md } {
    font-size: $h1 * 1.5;
  }
  @media #{ $breakpoint-lg } {
    font-size: $h1 * 2.2;
  }
}

.height-kokoro-book {
  height: 600px;
  @media #{ $breakpoint-sm } {
    height: 400px;
  }
  @media #{ $breakpoint-md } {
    height: 600px;
  }
  @media #{ $breakpoint-lg } {
    height: 600px;
  }
}

.height-kokoro-page {
  height: 300px;
  @media #{ $breakpoint-sm } {
    height: 400px;
  }
  @media #{ $breakpoint-md } {
    height: 300px;
  }
  @media #{ $breakpoint-lg } {
    height: 600px;
  }
}

// .h0-nicomojiplus {
//   font-size: $h1 * 2;
// }

.height-nicomojiplus {
  height: 2rem;
  @media #{ $breakpoint-sm } {
    height: 5rem;
  }
  @media #{ $breakpoint-md } {
    height: 10rem;
  }
}

// Nikukyu specific styles
.img-nikukyu-ladybug {
  &:before {
    content: attr(data-prefix);
    display: inline-block;
    transform-origin: right;
    font-size: $h4;
    transform: translate(50px, -30px) rotate(-40deg);
    position: absolute;
    @media #{ $breakpoint-md } {
      transform: translate(50px, 20px) rotate(-40deg);
    }
    @media #{ $breakpoint-lg } {
      transform: translate(60px, 10px) rotate(-40deg);
    }
  }
  img {
    transform: translate(25px, 50px);
    @media #{ $breakpoint-sm } {
      transform: translate(50px, 65px);
    }
    @media #{ $breakpoint-md } {
      transform: translate(50px, 75px);
    }
    @media #{ $breakpoint-lg } {
      transform: translate(50px, 100px);
    }
  }
}

.h0-nikukyu {
  font-size: $h1 * 1.5;
  @media #{ $breakpoint-sm } {
    font-size: $h1 * 3.25;
  }
  @media #{ $breakpoint-md } {
    font-size: $h1 * 3.75;
  }
  @media #{ $breakpoint-lg } {
    font-size: $h1 * 4;
  }
}

// Drop shadow
//
// Styleguide: module.dropshadow
.ds-bookcover {
  box-shadow: 3px  3px 0 3px darken($navy, 7.5%),
              3px -1px 0 3px $navy,
             -3px  3px 0 3px darken($navy, 7.5%),
             -3px -1px 0 3px $navy,
              0 0 10px rgba(0, 0, 0, 0.25);
}

.ds-page-right {
  box-shadow: inset -2px -2px 20px $darken-1,
              inset 0 -2px 0 2px $darken-1,
              inset 0 -1px 0 1px $darken-2;
  @media #{ breakpoint-sm } {
    border-left: 1px solid $darken-1;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 2px $darken-1,
                inset -1px 0 0 1px $darken-2;
  }
  @media #{ breakpoint-md } {
    border-left: none;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset 0 -2px 0 2px $darken-1,
                inset 0 -1px 0 1px $darken-2;
  }
  @media #{ breakpoint-lg } {
    border-left: 0;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 2px $darken-1,
                inset -1px 0 0 1px $darken-2;
  }
}

.ds-page-left {
  border-bottom: 1px solid $darken-1;
  box-shadow: inset -2px -2px 20px $darken-1,
              inset 0 -2px 0 -2px $darken-1,
              inset 0 -1px 0 -1px $darken-2;

  @media #{ breakpoint-sm } {
    border-bottom: 0;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 -2px $darken-1,
                inset -1px 0 0 -1px $darken-2;
  }
  @media #{ breakpoint-sm } {
    border-bottom: 1px solid $darken-1;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset 0 -2px 0 -2px $darken-1,
                inset 0 -1px 0 -1px $darken-2;

  }
  @media #{ breakpoint-lg } {
    border-bottom: 0;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 -2px $darken-1,
                inset -1px 0 0 -1px $darken-2;
  }
}


// Sidebar
// Drop shadow
.ds-sidebar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media #{ $breakpoint-md } {
  .md-ds-none {
    box-shadow: none;
  }
}

// Height for font list
//
// TODO This would make more sense inline since it truly
// is a one-off, but to take care of the media queries
// it’s easier to include it as a class right now.
// Would probably also make more sense to use a `min-height`
// media query instead of a `min-width` one.
//
// Styleguide: specimen.height
.height-fontlist-item {
  height: 5rem;
  @media #{ $breakpoint-sm } {
    height: 6rem;
  }
  @media #{ $breakpoint-md } {
    height: 7rem;
  }
  @media #{ $breakpoint-lg } {
    height: 8rem;
  }
}
