// State
.is-translated {
  transition: transform 1s ease-in-out;
}

.is-tyn50 {
  transform: translateY(-50%);
}

.is-ty50 {
  transform: translateY(50%);
}

.is-translated-100 {
  transform: translateY(100%);
}

// Pointer animate paused
//
// This is used in the M+ section to override the looping JS
// animation on hover (or, potentially, other pointer events).
.is-pointer-animate-paused {
  &:hover,
  &:focus {
    // Animation class is a child for a larget tap-target area
    .animate {
      animation-play-state: paused;
    }
  }
}

.no-js {
  .bg-fallback-black   { background-color: $black }
  .bg-fallback-gray    { background-color: $gray }
  .bg-fallback-silver  { background-color: $silver }
  .bg-fallback-white   { background-color: $white }
  .bg-fallback-aqua    { background-color: $aqua }
  .bg-fallback-blue    { background-color: $blue }
  .bg-fallback-navy    { background-color: $navy }
  .bg-fallback-teal    { background-color: $teal }
  .bg-fallback-green   { background-color: $green }
  .bg-fallback-olive   { background-color: $olive }
  .bg-fallback-lime    { background-color: $lime }
  .bg-fallback-yellow  { background-color: $yellow }
  .bg-fallback-orange  { background-color: $orange }
  .bg-fallback-red     { background-color: $red }
  .bg-fallback-fuchsia { background-color: $fuchsia }
  .bg-fallback-purple  { background-color: $purple }
  .bg-fallback-maroon  { background-color: $maroon }  
}
