// Variables
//
// Custom variables and overrides for
// Sass dependencies are set here.
//
// No styleguide reference.
$font-family-base: "Noto Sans JP", "Noto Sans Japanese", "Noto Sans", sans-serif;
$font-family-serif: "Noto Serif", Georgia, serif;
$font-family-monospace: "Noto Mono", "Source Code Pro", "Fira Mono", monospace, monospace;


// Colours
//
// Overrides and additions to
// mrmrs’ colors library.
//
// No styleguide reference.
$purple: rgb(90, 50, 120);
$navy: rgb(0, 90, 120);
$maroon: #880E4F; // Material Design Pink 900
$blue: rgb(140, 150, 190);
$olive: rgb(130, 200, 180);
$fuchsia: rgb(250, 210, 210);
$red: rgb(240, 90, 90);
$yellow: rgb(250, 220, 115);
$aqua: rgb(230, 245, 255);
$green: mix($olive, $aqua, 75%);
// $lime
// $teal
// $orange
// $white
// $silver
// $gray
$silver: #F0F0F0;
$black: #111;

// Custom
$pink: #F8BBD0; // Material Design Pink 100

// $line-height-1: 1.05;
// --line-height-2: 1.125;
$line-height-3: 1.5;
$line-height-4: 1.7;
// --letter-spacing: 1;

$caps-letter-spacing: 0;
// $bold-font-weight: 400;

// $h1: 4.5rem;
// $h2: 2.66rem;
// $h3: 1.4rem;
// $h4: 1.125rem;
// $h5: 1rem;
// $h6: 0.8rem;

// $space-1: 0.5rem;
// $space-2: 1rem;
// $space-3: 2rem;
// $space-4: 4rem;

// $darken-1
// $darken-2: rgba(0, 0, 0, .125);
// $darken-3: rgba(0, 0, 0, .25);
// $darken-4

// $lighten-1
// $lighten-2
// $lighten-3
// $lighten-4


// Custom border widths
// $border-thin: thin;
// $border-medium: medium;
// $border-thick: thick;

// @custom-media --breakpoint-xs (max-width: 40em);
// @custom-media --breakpoint-sm-md (min-width: 40em) and (max-width: 52em);
// @custom-media --breakpoint-md-lg (min-width: 52em) and (max-width: 64em);
// @custom-media --breakpoint-lg (min-width: 64em);
$breakpoint-xs: '(max-width: 38em)';
$breakpoint-sm-md: '(min-width: 38em) and (max-width: 50em)';

// $border-radius: 3px;

$caps-letter-spacing: 0;

// Widths
// $width-1: 24rem;
$width-2: 33rem;
// $width-3: 48rem;
$width-4: 64rem;
$width-5: $width-4 * 1.5;
$width-6: $width-4 * 2;

// Border thicknesses
$border-thin: thin;
$border-medium: medium;
$border-thick: thick;

// Custom breakpoints
// @custom-media --breakpoint-xs (max-width: 40em);
$breakpoint-xs: "(max-width: 40em)";
// @custom-media --breakpoint-sm-md (min-width: 40em) and (max-width: 52em);
$breakpoint-sm: "(min-width: 40em)";
$breakpoint-sm-md: "(min-width: 40em) and (max-width: 52em)";
// @custom-media --breakpoint-md-lg (min-width: 52em) and (max-width: 64em);
$breakpoint-md: "(min-width: 52em)";
$breakpoint-md-lg: "(min-width: 52em) and (max-width: 68em)";
// @custom-media --breakpoint-lg (min-width: 64em);
$breakpoint-lg: "(min-width: 68em)";

// Breakheights, for vertical Media Queries
$breakheight-xs: "(max-height: 40em)";

// Basscss type scale
$h6: 0.66rem;
$h5: 0.875rem;
$h4: 1rem;
$h3: 1.25rem;
$h2: 1.5rem;
$h1: 2rem;
